/StarLiners2.userprefs
/Starliners/bin
/Starliners/obj
/Starliners.Data/bin
/Starliners.Data/obj
/Starliners.Dedicated/bin
/Starliners.Dedicated/obj
/Starliners.Game/bin
/Starliners.Game/obj
/Starliners.Resources/bin
/Starliners.Resources/obj
/BLauncher/bin
/BLauncher/obj
/BPublisher/bin
/BPublisher/obj
